<section class="LogoList">
    <div class="page-width">
    <h2>Section title</h2>
        <div class="row">
        {%- for block in section.blocks -%}
            <div class="col">
                <img src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.image.alt }}" width="{{ block.settings.image.width }}" height="{{ block.settings.image.height }}">
            </div>
        {%- endfor -%}
        </div>
        test
    </div>
</section>

{% schema %}
{
  "name": "t:sections.multicolumn.name",
  "class": "section",
  "settings": [
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Logo image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Logo list",
      "category": "Image",
      "settings": {}
    }
  ]
}
{% endschema %}